NODE_ENV=development

PORT=8004

AI_PROVIDER=ollama
OLLAMA_URL=
MAIN_OLLAMA_MODEL=gemma3:4b
SECONDARY_OLLAMA_MODEL=qwen3:0.6b
EMBEDDING_OLLAMA_MODEL=nomic-embed-text
BIBLE_CONTEXT_VERSION=CEE

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ALLOWED_ORIGINS=
